h1, p {
  font-family: Lato;
}


.boxContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 5px;
  background-color: black;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: white;
  font-size: 3em;
}

.winner{
  color: blue;
}